.myHeader {
    height: 100px;
    color: white;
    background-color: brown;
    width: 350px;
    padding: auto
}
.instructions {
    background-color: lightpink;
    color: aquamarine;
    width: 800px;
}
.randy {
    background-color: darkgreen;
    height: 80px;
    width: 200px;
    font-weight: bolder;
    padding: auto;
}
.score {
    background-color: teal;
    color: white;
    width: 200px;
}
.ts {
    background-color: teal;
    color: white;
    height: 80px;
    width: 200px;
}
.container {
    height: 100px;
}